{{ form_start(form) }}
{{ form_widget(form) }}
<textarea name="tournoi-description" id="tournoi-description"></textarea>
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}