/* Style général du chat */
#chat {
    /* display: flex; */
    /* max-width: 800px; */
    /* margin: 20px auto; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

#chat a {
    text-decoration: none;
    color: white;
}

/* Style des salons de discussion */
.rooms {
    width: 100%;
    overflow-y: auto;
}

.room-date {
    font-size: 11px;
    color: #878787;
    padding-top: 5px;
}

.chat-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff4c;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.room-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ffffff4c;
    border-radius: 5px;
    cursor: pointer;
}

.pseudo-chat {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room-item img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 15px;
}

.rooms-container {
    gap: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.room-item-active {
    background-color: #2c3147;
    color: white;
    border: 1px solid #3329AE;
}

.pseudo-chat:hover {
    text-decoration: underline;
}

.room-item:hover {
    background-color: #3329AE;
    border: 1px solid #ffffff4c;
    color: white;
    transition: all 0.2s ease-in-out;
}

.fa-arrow-left {
    display: none;
}

/* Style du conteneur de messages */
.message-container {
    width: 100%;
    flex-direction: column;
    /* height: 82vh;    */
    display: none;
    position: relative;
    /* padding-bottom: 71px; */
    height: calc(100vh - 131px - 91px);
}

.last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100% - 60px);
}

/* Style des messages */

.message-right {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

}

.message-left {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.message-sent {
    background-color: #3329AE;
    align-self: flex-end;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    display: flex;
}

.message-received {
    background-color: rgba(255, 255, 255, 0.3);
    align-self: flex-start;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    display: flex;
}

/* Style des pseudo et des dates des messages */
.sender-pseudo,
.receiver-pseudo {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

.sender-date,
.receiver-date {
    font-size: 0.8em;
    color: #aaa;
    padding-top: 5px;
}

/* Style du formulaire d'envoi de message */
.message-form {
    padding: 10px;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#send-message-form {
    display: flex;
}

/* #message-text {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
} */

#message-text {
    width: calc(100% - 50px);
    /* Adapt this value to fit the send button next to it */
    height: 50px;
    /* Set a fixed height */
    padding: 10px;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit;
    /* Make fonts consistent with the rest of your design */
    font-size: 1em;
    /* Adjust as needed */
    line-height: 1.4;
    /* Adjust for vertical centering of text */
    resize: none;
    /* Disable resizing of textarea */
    overflow: auto;
    /* Allow scrolling inside the textarea */
}

.btn-send {
    background: #2c3147;
    color: white;
    border: none;
    padding: 0 15px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #3b5a7d;
}

/* Style des icônes */
.material-symbols-outlined {
    vertical-align: middle;
}

.room-avatar p {
    font-weight: bold;
}

.room-avatar {
    width: 30%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

/* .message-form {
    display: none;
}

.message-form .show-form {
    display: block;
} */