@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* -------REGISTER --------- */
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 10px;
    padding: 0 20px 0 20px;
    background-color: rgba(51, 41, 174, 0.5);

}

.btn-register a {
    text-decoration: underline rgb(255, 0, 0);
    color: #fff;
    text-underline-offset: 5px;
}

/* .forge-title {
    color:rgb(255, 0, 0)
    font-wei
} */

ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.input::placeholder {
    color: white;
}

.form-control {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: flex;
}

.form-check-input {
    display: flex;
    flex-direction: row-reverse;
}

.form-check-input:hover {
    cursor: pointer;
    text-decoration: underline rgb(255, 0, 0);
    text-underline-offset: 5px;
}

.agree-check label {
    cursor: pointer;
    transition: all 0.9s ease;
}

.agree-check label:hover {
    text-decoration: underline rgb(255, 0, 0);
    text-underline-offset: 5px;
}

.agree-check {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.form-pseudo {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(51, 41, 174, 0.5);
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.form-pseudo:focus {
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
    outline: none;
}


.password-field {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(51, 41, 174, 0.5);
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.password-field:focus {
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
    outline: none;
}

input[type=email] {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(51, 41, 174, 0.7);
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

input[type=email]:focus {
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
    outline: none;
}

.form-group em {
    font-size: 12px;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-login {
    margin: 0 !important;
}

.form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url(../img/bg-register.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    width: fit-content !important;
    margin-inline: auto;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #e90a0a;
    color: white;
}

/* ----------------------------------------------------------- */

/* ----------- LOGIN --------------- */

#tournoi {
    width: 100%;
}

#tournoi>div {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#inputPassword {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(51, 41, 174, 0.5);
    color: white;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

#inputPassword:focus {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(51, 41, 174, 0.5);
    color: white;
    outline: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.5); */
    border-radius: 10px;
    background-color: rgba(51, 41, 174, 0.5);
    width: fit-content;
    margin: 0 auto;
}

.login-form>label {
    width: 100%;
}

.login-form-container {
    padding-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-image: url(../img/register-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-lg {
    width: fit-content !important;
    margin-inline: auto;
    padding: 10px 20px 10px 20px;
    transition: all 0.3s ease;
    margin: 10px;
}

.btn-lg:hover {
    background-color: #e90a0a;
    color: white;
}

.tox.tox-tinymce {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.tr-create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tr-create-form>div {
    width: 100%;
    margin-bottom: 10px;
}

.tr-create-form>div input:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

#tournoi_region:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

#tournoi_nbJoueursMax {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}

#tournoi_nbJoueursMax:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

#tournoi_lienTwitch:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

.format-jeu {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
}

.format-jeu:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

.format-jeu div input {
    display: flex;
    gap: 10px;
    width: 100%;
}

#tournoi_jeu {
    width: 100%;
}

#tournoi_lienTwitch {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
    outline: none;
}

#tournoi_region {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
    outline: none;
}

.jeuTournoi {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
}

.jeuTournoi:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

option:hover {
    background-color: rgb(255, 255, 255);
}

.jeuTournoi:hover {
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;

}


#tournoi_banniereTrFile_file {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
}

#tournoi_banniereTrFile_file:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}


#tournoi_logoFile_file {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
}

#tournoi_logoFile_file:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

#tournoi div input {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}

#tournoi div input:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

.typeTournoi {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
}

.typeTournoi:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

.tr-logo-banniere {
    display: flex;
    gap: 10px;
    width: 100%;
}

.vich-image input {
    padding: 10px;
}


.btn-create-tr {
  padding: 10px 15px;
  margin-top: 20px;
}


/* CREER UNE EQUIPE */

.title-create-team {
    width: 100%;
    padding-bottom: 10px;
}

.equipe-create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.equipe-create-form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* .equipe-create-form>div label {
    margin-bottom: 10px;
} */

#content h1 {
    margin-bottom: 20px;
}

/* .required {
    margin-bottom: 10px;
} */

/*  Séléctionner le bouton du dernier div de la class equipe-create-form */
.equipe-create-form>div:last-child>button {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
}

.equipe-create-form input {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}

/* .equipe-create-form button {} */

#equipe_jeu {
    padding: 10px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    width: 100%;
}

.equipe-create-form input:focus {
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    background-color: #3329AE;
    color: white;
}

#content {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search {
    border: 2px solid #ffffff7a;
    padding: 10px;
    border-radius: 5px;
    background-color: #3329AE;
    color: white;
}

.tr-name {
    display: flex;
    width: 100%;
    gap: 10px;
}

.date-time {
    display: flex;
    width: 100%;
    gap: 10px;
}

.date-time input {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}


.tr-name input {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(52, 41, 174, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: white;
    width: 100%;
}

.tr-form-wrapper {
    /* padding: 10px; */
    height: 100%;
}

@media (min-width: 768px) { 
    .tr-create-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 255px 50px 255px;
        margin-left: 300px;
        height: 100%;
        /* padding: 20px; */
    }

    #tournoi_banniereTrFile_file {
        width: 100%;
    }

    .date-time>div {
        width: 100%;
        gap: 10px;
    }

    #tournoi_dateFin {
        width: 100% !important;
    }

    .tr-create-form > div {
        width: 100%;
        margin-bottom: 10px;
    }

    .tr-name>div {
        width: 100%;
        gap: 10px;
    }

    .tr-logo-banniere>div {
        width: 100%;
        gap: 10px;
    }
}