@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: white;
}

#main-container {
  display: table;
  width: 100%;
  height: 100%;
}

#sidebar {
  display: table-cell;
  width: 15%;
  vertical-align: top;
  background-color: #2c3147;
  position: relative;
}

#sidebar a {
  display: block;
  padding: 10px;
  color: rgba(255, 255, 255, 0.5);
  margin: 15px 0 0 0;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
}

#content {
  display: table-cell;
  width: 85%;
  vertical-align: top;
  padding: 10px 0 0 10px;
}

.logo {
  display: block;
  margin: 20px auto;
  width: 90%;
}

.profil-menu img {
  width: 80px;
  border-radius: 50%;
}

.profil-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

/* ------------------------------ */

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.tournament-item {
  border: 1px solid rgb(255, 255, 255);
  width: 400px;
  height: auto;
  gap: 10px;
}

.tournois-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tournoi-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

body {
  background-color: #282828;
}

.logo-trd {
  height: 50px;
  width: 50px;
}

.head-trd {
  display: flex;

}

.follow-trd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head-flw {
  display: flex;
  align-items: center;
}

.tab-bar {
  display: flex;
}

.tab-container .tab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
}

.content {
  padding: 10px;
  margin-top: 5px;
}

.tab-active {
  border-bottom: 2px solid rgb(255, 0, 0); /* ou tout autre style de votre choix */
}

.tab:hover {
  border-bottom: 1px solid grey;
}


.main-content {
  width: 900px;
  justify-content: center;
}

.banner-tr {
  width: 900px;
  height: 350px;
}

.modal {
  display: none; /* Caché par défaut */
  position: fixed; /* Reste en place même lors du défilement */
  z-index: 1; /* Se situe au-dessus des autres éléments */
  left: 0;
  top: 0;
  width: 100%; /* Largeur complète */
  height: 100%; /* Hauteur complète */
  overflow: auto; /* Gérer le défilement si nécessaire */
  background-color: rgb(0,0,0); /* Couleur de fond */
  background-color: rgba(0,0,0,0.4); /* Fond noir avec opacité */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% du haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Peut être ajusté */
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* CHAT */
#chat{
  display: flex;
  height: 100%;
}

.rooms {
  width: 15%;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
}

.message-form {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.message-sent {
  text-align: right;
}

.message-received {
  text-align: left;
}

#send-message-form input {
padding: 20px;  
}