{% extends 'base2.html.twig' %}
{% block title %}Créer un match
{% endblock %}

{% block body %}
	<h1>Créer un match</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}


{% endblock %}
