{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}
	<div id="">
		<div class="">
			<a class="logo" href=""><img src="{{ asset('img/logo.png') }}" alt="Logo victoryforge"/></a>
			<hr>

			<a href=""></a>
		</div>
		<div class="">
			<a
				href="">
				{# <img src="{{ vich_uploader_asset(app.user, 'photoFile') }}" alt="Photo de profil"> #}
				<p></p>
			</a>
			<a
				href="">
				{# <img src="{{ asset('img/defaultProfile.png') }}" alt="Photo de profil"> #}
				<p></p>
			</a>

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/message.js') }}"></script>
{% endblock %}
```
